<p>new-ligne works!</p>
<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="lignesForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label for="libelle">libelle</label>
        <input type="text" id="libelle" class="form-control" formControlName="libelle">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="nom" class="form-control" formControlName="description">
      </div>

      <div class="form-group">
        <label for="dateDebut">dateDebut</label>
        <input type="datetime-local" id="dateDebut" class="form-control" formControlName="dateDebut">
      </div>

      <div class="form-group">
        <label for="dateFin">dateFin</label>
        <input type="datetime-local" id="dateFin" class="form-control" formControlName="dateFin">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="lignesForm.invalid">Soumettre</button>
    </form>
    <p>Form value: {{ lignesForm.value | json }}</p>
    <p>Form status: {{ lignesForm.status | json }}</p>
    <p>Ligne enregistré : {{ ligneresp | json }}</p>
</div>
