<p>
    <mat-toolbar>
        <span>Planifixateur</span>
        <button mat-button 
            routerLinkActive="active"
            routerLink=""><h2>Liste des projets</h2>
        </button>
        <button mat-button 
            routerLinkActive="active"
            routerLink="ajout">
            <h2>Créer un Projet</h2>
        </button> 
        <button mat-button 
            routerLinkActive="active"
            routerLink="upload">
            <h2>Gestion des fichiers</h2>
        </button>       
    </mat-toolbar>
</p>
<div class="conteneur">
    <router-outlet></router-outlet>
</div>
<p>
    <mat-toolbar style="background-color: transparent;position: absolute">
 
    </mat-toolbar>
</p>
