<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Temps moyen</mat-card-title>
            <mat-card-subtitle>All projet </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="calcul-temps-card">
                {{ getMoyenneP(listProjets) }}
            </p>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Temps moyen</mat-card-title>
            <mat-card-subtitle>Top 10 projet</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="calcul-temps-card">
                {{ getMoyenneP(topProjets) }}
            </p>
        </mat-card-content>
    </mat-card>   
    
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Temps médian</mat-card-title>
            <mat-card-subtitle>All Projet</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="calcul-temps-card">
                {{ getMediane(listProjets) }}
            </p>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Temps médian</mat-card-title>
            <mat-card-subtitle>Top 10 projet</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="calcul-temps-card">
                {{ getMediane(topProjets) }}
            </p>
        </mat-card-content>
    </mat-card>
</div>

<div class="container">
    <mat-card class="card-chart">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Top 10 Projets</mat-card-title>
            <mat-card-subtitle>Nombre d'heures passées par projet</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div id="chart">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [dataLabels]="chartOptions.dataLabels"
                  [stroke]="chartOptions.stroke"
                  [colors]="chartOptions.colors"
                  [title]="chartOptions.title"
                  [subtitle]="chartOptions.subtitle"
                  [plotOptions]="chartOptions.plotOptions"
                  [yaxis]="chartOptions.yaxis"
                  [xaxis]="chartOptions.xaxis"
                  [tooltip]="chartOptions.tooltip"
                ></apx-chart>
              </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Projet le plus long</mat-card-title>
            <mat-card-subtitle>{{ topProjets?.slice(0, 1).shift().nom }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="calcul-temps-card">
                {{ getCount(topProjets?.slice(0, 1).shift().tempsTotal) }}
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Moyenne de tâche par projet</mat-card-title>
            <mat-card-subtitle>en unité</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="calcul-temps-card">
                {{ getMoyenneL(listProjets) }}
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Tâche la plus longue</mat-card-title>
            <mat-card-subtitle>{{ topLignes?.slice(0, 1).shift().libelle }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="calcul-temps-card">
                {{ getCount(topLignes?.slice(0, 1).shift().tempsTotal) }}
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Tâche la plus utilisée</mat-card-title>
            <mat-card-subtitle>parmis tous les projets</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="calcul-temps-card">
                {{  getMostUsedTache() }}
            </p>
        </mat-card-content>
    </mat-card>
</div>
<!-- <p *ngFor="let top of topProjets; let i = index">
    TOP : {{ i + 1 }} {{ top.tempsTotal }} {{ top.nom }}
</p>

<p>
    Moyenne temps (all projet) : {{ getMoyenneP(listProjets) }}
    Moyenne temps (Top 10 projet) : {{ getMoyenneP(topProjets) }}
</p>

<p>
    Médiane temps (all projet) : {{ getMediane(listProjets) }}
    Médiane temps (Top 10 projet) : {{ getMediane(topProjets) }}
</p> -->

<!-- <p>
    Projet le plus long : {{ topProjets?.slice(0, 1).shift().nom }} avec une durée de {{ getCount(topProjets?.slice(0, 1).shift().tempsTotal) }}
</p>

<p>
    Moyenne de tâche par projet : {{ getMoyenneL(listProjets) }}
</p>

<p>
    Tâche la plus longue : {{ topLignes?.slice(0, 1).shift().libelle }} avec une durée de {{ getCount(topLignes?.slice(0, 1).shift().tempsTotal) }}
</p>

<p>
    Tâche la plus utilisée : {{  getMostUsedTache() }}
</p> -->

<!-- <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [colors]="chartOptions.colors"
      [title]="chartOptions.title"
      [subtitle]="chartOptions.subtitle"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [tooltip]="chartOptions.tooltip"
    ></apx-chart>
  </div> -->
